# Django settings
DJANGO_SECRET_KEY='Секретный ключ от приложения'
DJANGO_DEBUG='1 - режим debug, 0 - продакшен'
DJANGO_LOGLEVEL='Уровень логирования INFO, ERROR ...'
DJANGO_ALLOWED_HOSTS='IP сервера'

# S3 settings
AWS_ACCESS_KEY_ID='S3 Access Key'
AWS_SECRET_ACCESS_KEY='S3 Secret Access Key'
AWS_STORAGE_BUCKET_NAME='Название бакета'

# Redis settings
REDIS_PASSWORD='Пароль для доступа'
REDIS_URL=redis://localhost:6379/1